# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# VS Code
.vscode/

# Data
data/

# OS files
.DS_Store
Thumbs.db